@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Red Hat Display", sans-serif;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 1.5;
  font-size: 13px;
  background-color: #e0e8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh; }
  @media screen and (max-width: 375px) {
    body {
      background-image: url("./images/pattern-background-mobile.svg"); } }
  @media screen and (min-width: 376px) and (max-width: 1440px) {
    body {
      background-image: url("./images/pattern-background-desktop.svg"); } }

.container {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden; }
  @media screen and (min-width: 376px) and (max-width: 1440px) {
    .container {
      width: 350px;
      scale: 1.26; } }
  @media screen and (max-width: 375px) {
    .container {
      width: 300px; } }
  .container .upper-case img {
    width: 100%; }
  .container .upper-case h2 {
    color: #1f2f56;
    font-weight: 900;
    text-align: center;
    margin: 20px 0 8px; }
    @media screen and (max-width: 375px) {
      .container .upper-case h2 {
        font-size: 20px; } }
  .container .upper-case p {
    color: #7280a7;
    width: 75%;
    text-align: center;
    margin: auto; }
  .container .lower-case {
    display: grid;
    width: 90%;
    margin: auto; }
    .container .lower-case .info-product {
      background-color: #f5f7ff;
      padding: 15px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 60px;
      border-radius: 10px;
      margin: 25px 0; }
      .container .lower-case .info-product .left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end; }
      .container .lower-case .info-product .icon {
        background-color: #e0e8ff;
        width: auto;
        height: auto;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .container .lower-case .info-product .icon img {
          width: 40px; }
      .container .lower-case .info-product .price {
        display: grid; }
        .container .lower-case .info-product .price :first-child {
          color: #1f2f56;
          font-weight: 900; }
        .container .lower-case .info-product .price :last-child {
          color: #7280a7; }
      .container .lower-case .info-product .btn {
        color: #3829e0;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
        font-size: 11px; }
        .container .lower-case .info-product .btn {
          -webkit-transition-duration: 0.5s;
                  transition-duration: 0.5s; }
        .container .lower-case .info-product .btn:hover {
          color: rgba(56, 41, 224, 0.631);
          background-color: transparent;
          text-decoration: none; }
    .container .lower-case .buttons {
      display: grid; }
      .container .lower-case .buttons button {
        border: none;
        font-family: inherit;
        background-color: transparent;
        font-weight: 900;
        padding: 10px 20px;
        margin: 10px 0;
        cursor: pointer; }
      .container .lower-case .buttons :first-child {
        color: #f5f7ff;
        background-color: #3829e0;
        border-radius: 10px; }
        .container .lower-case .buttons :first-child {
          -webkit-transition-duration: 0.5s;
                  transition-duration: 0.5s; }
        .container .lower-case .buttons :first-child:hover {
          color: #f5f7ff;
          background-color: rgba(56, 41, 224, 0.631); }
      .container .lower-case .buttons :last-child {
        color: #7280a7;
        margin-bottom: 20px;
        margin-top: 10px; }
        .container .lower-case .buttons :last-child {
          -webkit-transition-duration: 0.5s;
                  transition-duration: 0.5s; }
        .container .lower-case .buttons :last-child:hover {
          color: #1f2f56;
          background-color: transparent; }

.attribution {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-weight: bold; }

/*# sourceMappingURL=main.css.map */